<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<style>
  .container {
    background-color: #F5F5F5;
    box-sizing: border-box;
    padding: 2em;
    margin: 40px;
    height: 100%;
    border-radius: 1%
  }

  .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
  }

  .sub-title {
    text-align: center;
    max-width: 100%;
    align-items: center;
    margin-top: 5;
  }

  div.sub-title > p {
    color: #979797;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
    font-size: 12px
  }
  .info {
    background-color: #FFF; 
    border-radius: 5px; 
    max-width: 321px; 
    margin-left: auto; 
    margin-right: auto; 
  }
  div.info > p {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    padding-top: 30px;  
    color: black
  }
  .kode {
    color: #53C0A1; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 32px; 
    height: 32px; 
    margin-top: inherit; 
    margin-bottom: inherit; 
    font-weight: bold
  }
  .subs-title {
    color: #979797;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
    font-size: 12px
  }
</style>

<body>
  <div class="container">
    <div class="title">
      Kode Verifikasi untuk Email Konfirmasi
    </div>
    <p class="subs-title">Halo, <%- data.fullname %>.<br />Berikut ini kode verifikasi dan email konfirmasi anda</p>
    <div class="sub-title">
      <div class="info">
        <p>Kode Verifikasi Anda</p>
        <div>
          <div style="display: inline-block; margin-right: 5px">
            <p class="kode"><%- data.verify_code %></p>
          </div>
          <div style="display: inline-block">
            <img class="copy" src="https://cdn0.iconfinder.com/data/icons/material-design-outline/24/cut-512.png" alt=""
              style="width: 15px; height: 15px; margin-bottom: 7px;">
          </div>
        </div>
        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin-top: inherit">
          Konfirmasi Email Anda
        </p>
        <button class="konfirmasi"
          style="background-color: #53C0A1; padding: 10px; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 10px; font-family: Arial, Helvetica, sans-serif; width: 45%; height: 43px; margin: 10px; border-radius: 3px; font-weight: bold; margin-bottom: 10%">Konfirmasi</button>
      </div>
      <img
        src="https://upload.wikimedia.org/wikipedia/id/thumb/c/c4/Telkom_Indonesia_2013.svg/1200px-Telkom_Indonesia_2013.svg.png"
        style="width: 86px; height: 45px; margin-top: 30px" />
    </div>
</body>

</html>